# Data Types

In [1]:
var1= "Ebru"
print(type(var1))
var2= 4
print(type(var2))
var3= 12.38
print(type(var3))

<class 'str'>
<class 'int'>
<class 'float'>

In [2]:
strvar = "Python"
print(strvar[0])
print(strvar[-1])                #last index
print(strvar[1:4])               #inclusive:exclusive
print(len(strvar))               #length of string
print(strvar.upper())            #convert to uppercase
print(strvar.lower())            #convert to lowercase
print(strvar.count("t"))         #how many "t" in string

P
n
yth
6
PYTHON
python
1

# List

In [5]:
list1= [1,2,3,4,5,6,7,8]
list1.append(9)                #adds 9 to end of list
list1.pop(3)                   #removes 3.index of list
list1.sort()                   #sorts the list
list1.reverse()                #reverse of list
list1.remove(3)                #deletes element 3
list1.count(1)                 #how many 1 element in list
list1.index(7)                 #returns the index number of element 7

2

In [7]:
list_x= [1,2,3,8,9]
list_y= [4,5,6,7]
list_x.extend(list_y)
list_x

[1, 2, 3, 8, 9, 4, 5, 6, 7]

In [8]:
list1= [1,2,3,8,9]
list2= [4,5,6,7]
list1.insert(3,list2)
list1

[1, 2, 3, [4, 5, 6, 7], 8, 9]

In [9]:
list1=[1,2,3,4,5,6,7,8,9]
print(sum(list1))              #sum of elements in list
print(min(list1))              #find minimum element in list
print(max(list1))              #find maximum element in list

45
1
9

# Dictionary

In [10]:
dict1={"name":"Ebru","surname":"Ozdemir","std_no":"1810213062","age":23,"address":"Ankara"}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'surname', 'std_no', 'age', 'address'])
dict_values(['Ebru', 'Ozdemir', '1810213062', 23, 'Ankara'])
dict_items([('name', 'Ebru'), ('surname', 'Ozdemir'), ('std_no', '1810213062'), ('age', 23), ('address', 'Ankara')])

In [11]:
dict2={"name":"Ebru","surname":"Ozdemir","std_no":"1810213062","age":23,"address":{"yasadıgı_sehir": "Ankara",
                                                                                  "okudugu_sehir":"Karabuk"}}
print(dict2.keys())
print(dict2.values())
print(dict2.items())

dict_keys(['name', 'surname', 'std_no', 'age', 'address'])
dict_values(['Ebru', 'Ozdemir', '1810213062', 23, {'yasadıgı_sehir': 'Ankara', 'okudugu_sehir': 'Karabuk'}])
dict_items([('name', 'Ebru'), ('surname', 'Ozdemir'), ('std_no', '1810213062'), ('age', 23), ('address', {'yasadıgı_sehir': 'Ankara', 'okudugu_sehir': 'Karabuk'})])

In [12]:
dict_letters= {"a":1 , "b":2 , "c":3  , "d":4, "e":5 ,"f":6}
dict_letters["g"]=9                                              #adds element to dictionary
print(dict_letters)  
dict_letters.update({"g":7})                                     #update element in dictionary
print(dict_letters)
dict_letters.pop("b")                                            #deletes "b" key and its value in dictionary
print(dict_letters)
dict_letters.popitem()                                           #deletes last element's value and key in dictionary
print(dict_letters)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 9}
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7}
{'a': 1, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7}
{'a': 1, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

# Conditional Statements

In [13]:
list_letters= ["b", "c" , "d" , "e" , "f" , "g" , "h"]
key_letter = "a"

if (key_letter in list_letters) and (key_letters== list_letters[0]):
    print("Exists in list and first element")
elif key_letter in list_letters : 
    print("Exists in list")
else:
    list_letters.append("a")
    list_letters.sort()
    print("New list{0}".format(list_letters))

New list['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

# Loops
*For Loop
*While Loop

In [14]:
list1= ["Ebru Ozdemir","Kayra Tas","Kaan Gunay","Elif Dag"]
std_number=0
for names in list1:
    std_number +=1
    name,surname= names.split()[0],names.split()[1]
    print("{0}.Student Name : {1} and Surname :{2}".format(std_number,name,surname))

1.Student Name : Ebru and Surname :Ozdemir
2.Student Name : Kayra and Surname :Tas
3.Student Name : Kaan and Surname :Gunay
4.Student Name : Elif and Surname :Dag

In [15]:
for n in range(0,25):
    if n%2==0:
        continue                       #print odd number!!         
    print(n)

1
3
5
7
9
11
13
15
17
19
21
23

In [16]:
x=5
result=1
while x>0:
    result=result*x                             #Factorial 
    x -=1
print(result)

120

In [17]:
letters= ["a" , "b", "c","d","e","f","g","h","j","k"]
for letter in enumerate(letters):                            #enumerate of list
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')
(7, 'h')
(8, 'j')
(9, 'k')

# Functions

In [19]:
def square_number(x):
    return x*x
square_number(9)

81

In [20]:
def combine_name_surname (name,surname):
    return " ".join([name,surname])                 #join() function combines name and surname
combine_name_surname("Ebru","Ozdemir")

'Ebru Ozdemir'

In [21]:
def combining_name_surname(*args) :                 #args takes more than one parameters
    return " ".join(args)
combining_name_surname("Ebru","Arzu","Ozdemir")

'Ebru Arzu Ozdemir'

In [22]:
numbers=[* range(1,6)]                           #created a list of elements 1-5
[*map(lambda n: n*n,numbers)]                    #map definition applies the function to each element in the list
                                                 #lambda definition helps us write functions fast

[1, 4, 9, 16, 25]